* {
    box-sizing: border-box;
    margin: 0;
}

span {
    color: #ffffff;
    background-color: rgb(32, 37, 69);
    padding: 20px 30px;

}

h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    padding: 10px;

}

h3 {
    padding-top: 80px;
    text-align: center;
    margin-bottom: 80px;
}

/* All page  */

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header  */

.circle {
    margin-top: 25px;
}

.circle img {
    width: 80px;
    display: block;
    margin: 0 auto;
}

.img17 {
    margin-top: 25px;
}

.img17 img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.textz {
    margin-top: 25px;
}

.scroll {
    margin-top: 85px;
}

.scroll p {
    text-align: center;
    font-size: 20px;
    color: #1e2444;
}

.down-icon {
    height: 55px;
    width: 55px;
    display: block;
    margin: 0 auto;
}

/* Content   */

.trampimg {
    margin-bottom: -14px;
}

.mainImg {
    width: 1140px;
    border-radius: 10px;
}

.text {
    position: relative;
}

.textarea {
    background-color: white;
    top: 20px;
    left: 130px;
    position: absolute;
    z-index: 5;
}

.someDate {
    color: red;
    text-align: center;
    font-size: 30px;
    width: 50px;
}

.secondimg {
    border-left: 1px solid black;
    margin: 0 auto;
    width: 72%;
}

.title {
    color: #202545;
    text-align: left;
    font-size: 55px;
    margin-bottom: 45px;
    padding-left: 45px;
}

.description {
    text-align: left;
    font-size: 30px;
    color: #202545;
    padding-left: 45px;
    margin-bottom: 45px;
}

.smallimg {
    width: 720px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 100px;
}

/* Footer   */

.footer {
    background-color: rgb(32, 37, 69);
    width: 100%;
}

.footer span {
    color: rgb(32, 37, 69);
    background-color: #ffffff;
    font-size: 30px;
}

.footer p {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 60px;
}

.social {
    display: block;
    margin: 0 auto;
    margin-bottom: 250px;
}








